.header-top{
    background-color:#246997 ;
    color: white;
    border-bottom: 1px solid white;
}
.navlinkcontainer{
    display: flex;
    justify-content: center;
    align-items: center;

}
.navlinkcontainer li{
    margin: 0.2rem 0.5rem;
    padding: 0.5rem;
    position: relative;
    cursor: pointer;
    /* text-decoration: none; */
}

.navlinkcontainer li a{
    text-decoration: none;
    color: #000;
}

.navbar_header{
    width: 100%;
    background-color: rgb(233, 240, 238);
    display: flex;
    justify-content: space-around;
}

.sub-menu{
    align-items: center;
    text-align: center;
    position: absolute;
    background-color: #246997;
    display: none;
    margin-top: 2px;
    padding: 25px;

}

.sub-menu li a{
    display: block;
    text-decoration: none;
    width: max-content;
}
.sub-menu li {
    list-style-type: none;
}
.navlinkcontainer .menu-item-has-children:hover{
    background-color: #246997;
    color: #eeeeee;
    border-radius: 5px;


}
.navlinkcontainer li:hover .sub-menu{
    display: block;
}

.navlinkcontainer li:hover .sub-menu li:hover a{
    padding: 2px;
    color: white;
    background-color: #246997;
}

