{% load static %}

<div class="container">
  <div class="row row-eq-height">
    <div class="col-md-12">
      <div class="section-title mb45 headline text-center ">
        <span class="subtitle text-uppercase">OUR COURSES</span>
        <h2>Our <span> Courses</span></h2>
      </div>
      <div id="news-slider" class="owl-carousel ">
        <div class="post-slide">
          <div class="post-img">
            <img src="{% static 'image/courses/agriculture.jpg' %}" alt="">

          </div>
          <div class="post-content">
            <h3 class="post-title">
              <a href="#">Bachelor of Science in Agriculture(BSAg)</a>
            </h3>
            <div class="details ">
              <a href="#" class="web">Web Design</a>
              <a href="#" class="std_nos">250+ Students</a>
            </div>
          </div>
        </div>
        <div class="post-slide">
          <div class="post-img">
            <img src="{% static 'image/courses/it.jpg' %}" alt="">

          </div>
          <div class="post-content">
            <h3 class="post-title">
              <a href="#">Bachelor of Information Technology (BIT)</a>
            </h3>
            <div class="details ">
              <a href="#" class="web">Web Design</a>
              <a href="#" class="std_nos">250+ Students</a>
            </div>
          </div>
        </div>
        <div class="post-slide">
          <div class="post-img">
            <img src="{% static 'image/courses/travel.jpg' %}" alt="">

          </div>
          <div class="post-content">
            <h3 class="post-title">
              <a href="#">Bachelors Degree in Travel and Tourism</a>
            </h3>
            <div class="details ">
              <a href="#" class="web">Web Design</a>
              <a href="#" class="std_nos">250+ Students</a>
            </div>
          </div>
        </div>
        <div class="post-slide">
          <div class="post-img">
            <img src="{% static 'image/courses/law.jpg' %}" alt="">

          </div>
          <div class="post-content">
            <h3 class="post-title">
              <a href="#">Bachelor of Law science</a>
            </h3>
            <div class="details ">
              <a href="#" class="web">Web Design</a>
              <a href="#" class="std_nos">250+ Students</a>
            </div>
          </div>
        </div>
        <div class="post-slide">
          <div class="post-img">
            <img src="{% static 'image/courses/business-studies.jpg' %}" alt="">

          </div>
          <div class="post-content">
            <h3 class="post-title">
              <a href="#">Bachelors in Forest Resource Management(FRM)</a>
            </h3>
            <div class="details ">
              <a href="#" class="web">Web Design</a>
              <a href="#" class="std_nos">250+ Students</a>
            </div>
          </div>
        </div>
        <div class="post-slide">
          <div class="post-img">
            <img src="{% static 'image/courses/forest.jpg' %}" alt="">

          </div>
          <div class="post-content">
            <h3 class="post-title">
              <a href="#">Bachelors in Forest Resource Management(FRM)</a>
            </h3>
            <div class="details ">
              <a href="#" class="web">Web Design</a>
              <a href="#" class="std_nos">250+ Students</a>
            </div>
          </div>
        </div>
        <div class="post-slide">
          <div class="post-img">
            <img src="{% static 'image/courses/forest.jpg' %}" alt="">

          </div>
          <div class="post-content">
            <h3 class="post-title">
              <a href="#">Bachelors in Forest Resource Management(FRM)</a>
            </h3>
            <div class="details ">
              <a href="#" class="web">Web Design</a>
              <a href="#" class="std_nos">250+ Students</a>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
</div>