{% load static %}
<section id="faq" class="faq-section faq-secound-home-version backgroud-style">

    <div class="container">
        <div class="section-title mb20 headline text-center">

            <h2>Latest <span>Notices.</span></h2>
        </div>
        <div>

  <div class="row mt-5">

    <div class="col-md-4">
      <div class="latest-news-area p-3" style="background: #f2f2f2;border-radius:5px;">

        <div class="date-meta">
          <i class="fas fa-calendar-alt"></i> 11 December 2022
        </div>
        <h3 class="latest-title bold-font" style="margin-top: 20px;"><a href="/notice-detail/4">First Senate</a></h3>

      </div>
      <!-- /post -->
    </div>


    <div class="col-md-4">
      <div class="latest-news-area p-3" style="background: #f2f2f2;border-radius:5px;">

        <div class="date-meta">
          <i class="fas fa-calendar-alt"></i> 07 December 2022
        </div>
        <h3 class="latest-title bold-font" style="margin-top: 20px;"><a href="/notice-detail/3">आशयको सूचना</a></h3>

      </div>
      <!-- /post -->
    </div>

              </div>

  <div class="view-all-btn bold-font">
    <a href="https://ltu.edu.np/notice" class="btn btn-success" style="float: right;color:#fff;">View All Notices <i class="fas fa-chevron-circle-right" style="color: #fff;"></i></a>
  </div>



        </div>
    </div>
</section>