{% load static %}

<footer>
    <section
    id="why-choose"
    class="why-choose-section version-four backgroud-style"
  >
    <div class="container">
      <div class="section-title mb20 headline text-center">
        <span class="subtitle text-uppercase">lumbini ADVANTAGES</span>
        <h2>Reason <span>Why Choose lumbini.</span></h2>
      </div>
      <div class="extra-features-content">
        <div class="row">
          <div class="col-md-6 animation-element slide-left in-view">
            <div class="extra-left">
              <div class="extra-left-content">
                <div class="extra-icon-text text-left">
                  <div class="features-icon gradient-bg text-center">
                    <i class="fa fa-pencil-square" aria-hidden="true"></i>
                    <div class="feat-tag">
                      <span>1</span>
                    </div>
                  </div>
                  <div class="features-text">
                    <div class="features-text-title">
                      <h3>Academic Process</h3>
                    </div>
                    <div class="features-text-dec">
                      <span
                        >Academic Process at LTU encompasses curriculum
                        development, content delivery, assessment and
                        building.</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- // extra-left-content -->
            </div>
            <!-- /extra-left -->
          </div>

          <div class="col-md-6 animation-element slide-right in-view">
            <div class="extra-left">
              <div class="extra-left-content">
                <div class="extra-icon-text text-left">
                  <div class="features-icon gradient-bg text-center">
                    <i class="fa-solid fa-pencil"></i>
                    <div class="feat-tag">
                      <span>2</span>
                    </div>
                  </div>
                  <div class="features-text">
                    <div class="features-text-title">
                      <h3>Research &amp; Innovation</h3>
                    </div>
                    <div class="features-text-dec">
                      <span
                        >LTU is focused on Research &amp; Development (R&amp;D)
                        in Engineering, Technology and Sciences.</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- // extra-left-content -->
            </div>
            <!-- /extra-left -->
          </div>


          <div class="col-md-6 animation-element slide-left in-view">
            <div class="extra-left">
              <div class="extra-left-content">
                <div class="extra-icon-text text-left">
                  <div class="features-icon gradient-bg text-center">
                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                    <div class="feat-tag">
                      <span>3</span>
                    </div>
                  </div>
                  <div class="features-text">
                    <div class="features-text-title">
                      <h3>Industry &amp; Entrepreneurship</h3>
                    </div>
                    <div class="features-text-dec">
                      <span
                        >Industry Institute Interface activities in LTU includes
                        Academic support from industries, Consultancy.</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- // extra-left-content -->
            </div>
            <!-- /extra-left -->
          </div>

          <div class="col-md-6 animation-element slide-right in-view">
            <div class="extra-left">
              <div class="extra-left-content">
                <div class="extra-icon-text text-left">
                  <div class="features-icon gradient-bg text-center">
                    <i class="fa fa-pencil-square" aria-hidden="true"></i>
                    <div class="feat-tag">
                      <span>4</span>
                    </div>
                  </div>
                  <div class="features-text">
                    <div class="features-text-title">
                      <h3>Student Welfare</h3>
                    </div>
                    <div class="features-text-dec">
                      <span
                        >Student support system facilitates students to take up
                        co-curricular and extra-curricular activities.</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- // extra-left-content -->
            </div>
            <!-- /extra-left -->
          </div>

          <div class="col-md-6 animation-element slide-left">
            <div class="extra-left">
              <div class="extra-left-content">
                <div class="extra-icon-text text-left">
                  <div class="features-icon gradient-bg text-center">
                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                    <div class="feat-tag">
                      <span>5</span>
                    </div>
                  </div>
                  <div class="features-text">
                    <div class="features-text-title">
                      <h3>Faculty Development</h3>
                    </div>
                    <div class="features-text-dec">
                      <span
                        >The Faculty Development initiatives include Quality
                        Faculty recruitment, Identifying eminent Adjunct Faculty
                        and organizing FDP.</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- // extra-left-content -->
            </div>
            <!-- /extra-left -->
          </div>

          <div class="col-md-6 animation-element slide-right">
            <div class="extra-left">
              <div class="extra-left-content">
                <div class="extra-icon-text text-left">
                  <div class="features-icon gradient-bg text-center">
                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                    <div class="feat-tag">
                      <span>6</span>
                    </div>
                  </div>
                  <div class="features-text">
                    <div class="features-text-title">
                      <h3>Library</h3>
                    </div>
                    <div class="features-text-dec">
                      <span
                        >LTU library supports the institute's program of study
                        and research.</span
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- // extra-left-content -->
            </div>
            <!-- /extra-left -->
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>

