<!-- {% load static %}
<section id="faq" class="faq-section faq-secound-home-version backgroud-style">
    <div class="container">
        <div class="section-title mb45 headline text-center">
            <span class="subtitle text-uppercase">lumbini COURSE FAQ</span>
            <h2>Frequently<span> Ask &amp; Questions</span></h2>
        </div>

        <div class="faq-tab mb65">
            <div class="faq-tab-ques  ul-li">

                <div class="tab-button text-center mb65">
                    <ul class="product-tab">

                        <li class="active" rel="faq_cat-2">COURSES</li>

                        <li class="product-tab-li" rel="faq_cat-3">FACULTIES</li>

                        <li class="" rel="faq_cat-4">EVENTS</li>

                        <li class="" rel="faq_cat-5">OTHERS</li>

                        <li class="tab_last" rel="faq_cat-1">GENERAL</li>
                    </ul>
                </div>


                <div class="tab-container">

                    <div id="faq_cat-2" class="tab-content-1 pt35" style="display: block;">
                        <div id="faq_parent-2" class="panel-group">
                            <div class="panel">
                                <div class="panel-title" id="8">
                                    <h3 class="mb-0">
                                        <button class="btn btn-link partial-btn-link" data-toggle="collapse"
                                            data-target="#collapse8" aria-expanded="true" aria-controls="collapse8">
                                            What are the courses?
                                        </button>
                                    </h3>
                                </div>
                                <div id="collapse8" class="collapse" aria-labelledby="heading8"
                                    data-parent="#faq_parent-2">
                                    <div class="panel-body">
                                        A degree in technical studies can be obtained from a technical college and takes
                                        around two years to complete. This kind of education is typically considered
                                        career focused than academic.
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title" id="4">
                                    <h3 class="mb-0">
                                        <button class="btn btn-link partial-btn-link" data-toggle="collapse"
                                            data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                                            What kind of degree does the university provide?
                                        </button>
                                    </h3>
                                </div>
                                <div id="collapse4" class="collapse" aria-labelledby="heading4"
                                    data-parent="#faq_parent-2">
                                    <div class="panel-body">
                                        <p>1. Bachelor of Information Technology (BIT) degree.</p>
                                        <p>2. Bachelors of Arts Bachelors of Law (B.A.LL.B) Degree.</p>
                                        <p>3. Bachelor of Science in Agriculture</p>
                                        <p>4. Bachelors in Forest Resource Management.</p>
                                        <p>5. Bachelors Degree in Travel and Tourism</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title" id="7">
                                    <h3 class="mb-0">
                                        <button class="btn btn-link partial-btn-link" data-toggle="collapse"
                                            data-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
                                            How can we apply for these degrees?
                                        </button>
                                    </h3>
                                </div>
                                <div id="collapse7" class="collapse" aria-labelledby="heading7"
                                    data-parent="#faq_parent-2">
                                    <div class="panel-body">
                                        <p>Applications are open and are available:
                                        </p>
                                        <p>1. Lumbini Technical University</p>
                                        <p>
                                            2. Online</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title" id="9">
                                    <h3 class="mb-0">
                                        <button class="btn btn-link partial-btn-link" data-toggle="collapse"
                                            data-target="#collapse9" aria-expanded="true" aria-controls="collapse9">
                                            How to enroll a course?
                                        </button>
                                    </h3>
                                </div>
                                <div id="collapse9" class="collapse" aria-labelledby="heading9"
                                    data-parent="#faq_parent-2">
                                    <div class="panel-body">
                                        <p>1. Consult your course guide or handbook.
                                        </p>
                                        <p>2. Make note of core or compulsory subjects.</p>
                                        <p>
                                            3. Think about study areas of interest and potential majors.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title" id="101">
                                    <h3 class="mb-0">
                                        <button class="btn btn-link partial-btn-link" data-toggle="collapse"
                                            data-target="#collapse101" aria-expanded="true" aria-controls="collapse101">
                                            What is the curriculum of LTU like ?
                                        </button>
                                    </h3>
                                </div>
                                <div id="collapse101" class="collapse" aria-labelledby="heading101"
                                    data-parent="#faq_parent-2">
                                    <div class="panel-body">
                                        <p>1. The curriculum is designed to enhance theory and practical skills of the
                                            students. The degree comprises of Core Courses as well as Sports Science,
                                            Sports Management, Games and Sports courses. Internship is also an essential
                                            part of this curriculum.</p>
                                        <p>
                                            2. Major courses include Sports Organization and Administration, Sports
                                            Fitness Management, Sports Industry and Sports marketing, Entrepreneurship
                                            in Sports, Governance in Sports, Sports sociology Yoga Science, Sports
                                            Leisure and Recreation, Sports Medicine and Exercise physiology, Athlete
                                            Care and Rehabilitation, Games and Sports (e.g. Football, Cricket,
                                            Gymnastics, etc.)</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

                <div class="tab-container">

                    <div id="faq_cat-3" class="tab-content-1 pt35" style="display: none;">
                        <div id="faq_parent-3" class="panel-group">
                            <div class="panel">
                                <div class="panel-title" id="102">
                                    <h3 class="mb-0">
                                        <button class="btn btn-link partial-btn-link" data-toggle="collapse"
                                            data-target="#collapse102" aria-expanded="true" aria-controls="collapse102">
                                            Can I change my Major?
                                        </button>
                                    </h3>
                                </div>
                                <div id="collapse102" class="collapse" aria-labelledby="heading102"
                                    data-parent="#faq_parent-3">
                                    <div class="panel-body">
                                        Yes, you can change your major before classes start.
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

                <div class="tab-container">

                    <div id="faq_cat-4" class="tab-content-1 pt35" style="display: none;">
                        <div id="faq_parent-4" class="panel-group">
                            <div class="panel">
                                <div class="panel-title" id="103">
                                    <h3 class="mb-0">
                                        <button class="btn btn-link partial-btn-link" data-toggle="collapse"
                                            data-target="#collapse103" aria-expanded="true" aria-controls="collapse103">
                                            Can I apply for exchange programs?
                                        </button>
                                    </h3>
                                </div>
                                <div id="collapse103" class="collapse" aria-labelledby="heading103"
                                    data-parent="#faq_parent-4">
                                    <div class="panel-body">
                                        You can of course contact your Program Manager should you like to discuss
                                        anything further.
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

                <div class="tab-container">

                    <div id="faq_cat-5" class="tab-content-1 pt35" style="display: none;">
                        <div id="faq_parent-5" class="panel-group">
                        </div>


                    </div>

                </div>

                <div class="tab-container">

                    <div id="faq_cat-1" class="tab-content-1 pt35" style="display: none;">
                        <div id="faq_parent-1" class="panel-group">
                            <div class="panel">
                                <div class="panel-title" id="1">
                                    <h3 class="mb-0">
                                        <button class="btn btn-link partial-btn-link" data-toggle="collapse"
                                            data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                            What is LTU?
                                        </button>
                                    </h3>
                                </div>
                                <div id="collapse1" class="collapse" aria-labelledby="heading1"
                                    data-parent="#faq_parent-1">
                                    <div class="panel-body">
                                        Lumbini Technical University founded in 2075 BS, is the top institution for
                                        higher education in Nepal. LTU offers a four-year undergraduate, liberal arts
                                        program for students seeking their first degree. There are about 6,600
                                        undergraduates at the College, with nearly equal numbers of men and women.
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title" id="2">
                                    <h3 class="mb-0">
                                        <button class="btn btn-link partial-btn-link" data-toggle="collapse"
                                            data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                            What is the Bank Account for Admission?
                                        </button>
                                    </h3>
                                </div>
                                <div id="collapse2" class="collapse" aria-labelledby="heading2"
                                    data-parent="#faq_parent-1">
                                    <div class="panel-body">
                                        <p>Bank Name :</p>
                                        <p>
                                            Account No:
                                        </p>
                                        <p>Account Name:</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title" id="105">
                                    <h3 class="mb-0">
                                        <button class="btn btn-link partial-btn-link" data-toggle="collapse"
                                            data-target="#collapse105" aria-expanded="true" aria-controls="collapse105">
                                            How diverse is this university?
                                        </button>
                                    </h3>
                                </div>
                                <div id="collapse105" class="collapse" aria-labelledby="heading105"
                                    data-parent="#faq_parent-1">
                                    <div class="panel-body">
                                        Attending a university with a diverse student population can be valuable for all
                                        learners. In a diverse environment, students can build a community where
                                        individuals of different ethnicities, cultures, backgrounds, and abilities
                                        exchange insights and work to challenge damaging.
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title" id="104">
                                    <h3 class="mb-0">
                                        <button class="btn btn-link partial-btn-link" data-toggle="collapse"
                                            data-target="#collapse104" aria-expanded="true" aria-controls="collapse104">
                                            What is the minimum age required to apply for a University?
                                        </button>
                                    </h3>
                                </div>
                                <div id="collapse104" class="collapse" aria-labelledby="heading104"
                                    data-parent="#faq_parent-1">
                                    <div class="panel-body">
                                        The candidate must have completed 10+2 year of education or equivalent
                                        qualification with minimum 50 % in aggregate or 2.4 GPA and minimum C+ grade in
                                        Physics, Chemistry and Biology separately and minimum C in other subjects to
                                        appear in the entrance examination.
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title" id="12">
                                    <h3 class="mb-0">
                                        <button class="btn btn-link partial-btn-link" data-toggle="collapse"
                                            data-target="#collapse12" aria-expanded="true" aria-controls="collapse12">
                                            How can i get Admission?
                                        </button>
                                    </h3>
                                </div>
                                <div id="collapse12" class="collapse" aria-labelledby="heading12"
                                    data-parent="#faq_parent-1">
                                    <div class="panel-body">
                                        University is a very important milestone and significant time in the life of a
                                        student. Choosing a university can be exhausting since there are many things
                                        that have to be considered before getting admission in university. University
                                        not only caters the academic needs of a student but also is important to build a
                                        career oriented professional. It plays a vital role in the development of a
                                        student both professionally and behaviorally. For a student to take admission it
                                        is important for the university to have a reputation for the courses that it
                                        offers and good reputed faculty.
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title" id="3">
                                    <h3 class="mb-0">
                                        <button class="btn btn-link partial-btn-link" data-toggle="collapse"
                                            data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                            Where is Lumbini Technical University (LTU) Located?
                                        </button>
                                    </h3>
                                </div>
                                <div id="collapse3" class="collapse" aria-labelledby="heading3"
                                    data-parent="#faq_parent-1">
                                    <div class="panel-body">
                                        <p>Lumbini Technological University</p>
                                        <p>
                                            Nepalgunj, Lumbini</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title" id="5">
                                    <h3 class="mb-0">
                                        <button class="btn btn-link partial-btn-link" data-toggle="collapse"
                                            data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                                            Any special scholarship to be offered ?
                                        </button>
                                    </h3>
                                </div>
                                <div id="collapse5" class="collapse" aria-labelledby="heading5"
                                    data-parent="#faq_parent-1">
                                    <div class="panel-body">
                                        <p>1. Entrance Toppers (boy and girl each for each stream): Except admission
                                            fee, no other fees shall be paid during entire graduating years.</p>
                                        <p>
                                            2. Free semester tuition fee for semester topper not to be paid for
                                            consecutive next semester, for each stream.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title" id="6">
                                    <h3 class="mb-0">
                                        <button class="btn btn-link partial-btn-link" data-toggle="collapse"
                                            data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                                            Are there any special provision for getting admission?
                                        </button>
                                    </h3>
                                </div>
                                <div id="collapse6" class="collapse" aria-labelledby="heading6"
                                    data-parent="#faq_parent-1">
                                    <div class="panel-body">
                                        <p>Yes, through placement quota.
                                        </p>
                                        <p>Various Quotas ( Ladies, Provincial, Janajati, Madheshi, Dalit, Staff)</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel">
                                <div class="panel-title" id="10">
                                    <h3 class="mb-0">
                                        <button class="btn btn-link partial-btn-link" data-toggle="collapse"
                                            data-target="#collapse10" aria-expanded="true" aria-controls="collapse10">
                                            How much is the application Fee? And how can we pay?
                                        </button>
                                    </h3>
                                </div>
                                <div id="collapse10" class="collapse" aria-labelledby="heading10"
                                    data-parent="#faq_parent-1">
                                    <div class="panel-body">
                                        <p>1. Each application will cost Nrs. 1500.</p>
                                        <p>
                                            2. Payment can be made via Online (e.g. eSewa) or Offline (Bank Deposit).
                                            Bank Account Details are printed in the Application Form itself.</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>

        <div class="about-btn text-center">
            <div class="lumbini-btn gradient-bg text-center text-uppercase ul-li-block bold-font">
                <a href="https://ltu.edu.np/contact">contact us <i class="fas fa-caret-right"></i></a>
            </div>
        </div>
    </div>
</section> -->

<!-- {% load static  %}



